<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yeecode.mybatisdemo.dao.UserMapper">
    <select id="queryUserBySchoolName" resultType="com.github.yeecode.mybatisdemo.model.User">
    SELECT * FROM `user` WHERE schoolName = #{schoolName}
    </select>

    <insert id="addUser" parameterType="com.github.yeecode.mybatisdemo.model.User">
        INSERT INTO `user`
        (`name`,`email`,`age`,`sex`,`schoolName`)
        VALUES
        (#{name},#{email},#{age},#{sex},#{schoolName})
    </insert>
</mapper>