<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yeecode.mybatisdemo.UserMapper">
    <select id="queryUserBySchoolName" resultType="com.github.yeecode.mybatisdemo.User">
        SELECT * FROM `user`
        <if test="schoolName != null">
            WHERE schoolName = #{schoolName}
        </if>
    </select>
</mapper>